<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIGN IN</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <form action="" method="post" class="login">
        <h2>انشىء حساب جديد</h2>
        <input type="text" name="username" placeholder="UserName">
        <input type="text" name="password" placeholder="Password">
        <input type="submit" value="انشىء حساب" class="btn">
        <p>لديك حساب بالفعل ? <a href="/login">تسجيل دخول</a></p>
    </form>
</body>

</html>